<style>
body {
  background-color: yellow;
}

h1 {
  color: black;
  text-align: left;
  font-size: large;
  font-family: "Comic Sans MS", sans-serif;
}

th {
    color: navy;
    font-family: "Comic Sans MS", sans-serif;
    font-size: 15px;
    text-align: left;
    border-style: solid;
    border-color: white;
}
</style>
{#<h1>Query Results</h1>#}
{#{% if results %}#}
{#    <ul>#}
{#    {% for item in results|slice:":1" %}#}
{#        <li>{% for k,v  in item.items%}#}
{#            {{ k }}#}
{#        {% endfor %}</li>#}
{#        <br>#}
{#    {% endfor %}#}
{#    {% for item in results %}#}
{#        <li>{% for k,v  in item.items    %}#}
{#            {{ v }}#}
{#        {% endfor %}</li>#}
{#        <br>#}
{#    {% endfor %}#}
{#    </ul>#}
{##}
{#{% else %}#}
{#    <p>No results are available.</p>#}
{#{% endif %}#}
{##}
{##}

<h1>Query Results</h1>
{% if results %}
    <table>
    <tr>{% for item in results|slice:":1" %}
        {% for k,v  in item.items%}
            <th><h1>{{ k }}</h1></th>
        {% endfor %}
    {% endfor %}</tr>
    {% for item in results %}
        <tr>{% for k,v  in item.items    %}
               <th>{{ v }}</th>
        {% endfor %}</tr>
    {% endfor %}
    </table>
{% else %}
    <p>No results are available.</p>
{% endif %}


